<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost/ticket_app?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">username</property>
        <property name="connection.password">password</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <mapping class="api.model.CinemaHall"/>
        <mapping class="api.model.Movie"/>
        <mapping class="api.model.MovieSession"/>
        <mapping class="api.model.ShoppingCart"/>
        <mapping class="api.model.Order"/>
        <mapping class="api.model.Ticket"/>
        <mapping class="api.model.User"/>
    </session-factory>
</hibernate-configuration>
